* {
	box-sizing: border-box;
}
/*Стили авторизации*/
.body-home {
	min-width: 320px;
	background-image: url(images/entry_background.jpg);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	background-repeat: no-repeat;
}
.form-wrapper {
	display: flex;
	justify-content: center;
}
.form {
	margin-top: 30vh;
	width: 460px;
	height: 350px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.form__title {
	margin-top: 36px;
	margin-left: 182px;
	margin-bottom: 15px;
	width: 115px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	line-height: 38px;
	text-transform: uppercase;
	color: #161516;
}
.form__input-wrapper {
	margin-left: 20px;
	margin-top: 0;
}
.form__input-indent {
	margin-bottom: 13px;
}
.form__input {
	outline: none;
	margin-top: 3px;
	width: 400px;
	height: 34px;
	left: 510px;
	background: #FFFFFF;
	border: 1px solid #D58C51;
	box-sizing: border-box;
	border-radius: 61px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	font-weight: 700;
	color: #787878;
}
.form__input::placeholder {
	color: #CCCCCC;
}
.form__label {
	display: block;
	width: 56px;
	height: 16px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #161516;
}
.form__button-wrapper {
	margin-top: 20px;
}
.form__button {
	border: 0;
	width: 200px;
	height: 42px;
	background: #D58C51;
	border-radius: 2px;
	transition: .6s opacity;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;
	color: #161516;
}
.form__button-ots {
	margin-bottom: 34px;
	margin-left: 130px;
}
.form__button:hover {
	opacity: 0.8;
}
.form__checkbox-wrapper {
	position: relative;
	margin-top: 16px;
	width: fit-content;
	display: flex;
}
.form__checkbox {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.form__checkbox-mark {
	width: 24px;
	height: 24px;
	background: #FFFFFF;
	border: 1px solid #D58C51;
	box-sizing: border-box;
	border-radius: 13px;
}
.form__checkbox:checked + .form__checkbox-mark::after {
	content: "✔";
	color: #1A226B;
	padding: 3px 4px;
}
.form__checkbox-label {
	margin: 4px 0 4px 10px;
	width: 278px;
	height: 16px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	color: #161516;
}
.star {
	margin-right: 4px;
}
.error_email {
	display: none;
	color: red;
	font-size: 12px;
}
.error_email_unvalid {
	display: none;
	color: red;
	font-size: 12px;
}
.error_email_incorrect {
	display: none;
	color: red;
	font-size: 12px;
}
.error_password {
	display: none;
	color: red;
	font-size: 12px;
}
.error_password_symbol {
	display: none;
	color: red;
	font-size: 12px;
}
.error_password_incorrect {
	display: none;
	color: red;
	font-size: 12px;
}
.error_checkbox {
	display: none;
	color: red;
	font-size: 12px;
}

/*Стили категории*/
.body-category {
	margin-left: 5%;
	margin-right: 5%;
	background-color: #161516;
	font-family: 'Montserrat', sans-serif;
}
.category-header {
	display: flex;
	margin-top: 54px;
	margin-left: 20px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.category-header__title {
	color: #FFFFFF;
	font-size: 31px;
}
.category-header__wrapper {
	display: flex;
	align-items: center;
}
.category-header__text {
	font-size: 17px;
	color: #FFFFFF;
	padding-right: 2rem;
}
.category-header__basket {
	width:50px;
	height:50px;
	background-color: #d58c51;
	border-radius: 25px;
}
.category-header__basket:hover {
	transform: scale(1.1) translate(0, -5px);
	transition: all .3s;
}

.category-header__basket-img {
	display: block;
	margin: auto;
	padding-top: 13px;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 3rem;
}
.tovar {
	width: 312px;
	height: 552px;
	border: 1px solid #D58C51;
	box-sizing: border-box;
	color: #FFFFFF;
	padding-bottom: 2rem;
	margin-top: 20px;
	margin-left: 20px;
}
.tovar:hover {
	color: #D58C51;
	transition: 0.7s;
}

.tovar-img {
	padding-top: 2rem;
	margin: auto;
	display: block;
	width: 270px;
}
.tovar__description {
	padding-left: 21px;
	margin-top: 2rem;
	padding-right: 21px;
	display: flex;
	flex-direction: column;
	height: 200px;
}
.tovar__title {
	font-size: 17px;
	margin: 0;
}
.tovar__opisanie {
	font-size: 14px;
}
.tovar__cena-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: auto;
}
.tovar__cena {
	font-size: 17px;
}
.tovar__massa {
	font-size: 14px;
}
.tovar__button {
	display:inline-block;
	width:30px;
	height:30px;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	margin-left: auto;
	cursor: pointer;
}
.tovar__button-plus {
	background:
		linear-gradient(#fff,#fff),
		linear-gradient(#fff,#fff);
	background-position:center;
	background-size: 50% 2px,2px 50%;
	background-repeat:no-repeat;
}
.tovar__button-plus:hover {
	background: linear-gradient(#d58c51,#d58c51), linear-gradient(#d58c51,#d58c51);
	background-position: center;
	background-size: 50% 2px,2px 50%;
	background-repeat: no-repeat;
}
.tovar__button:hover {
	border: 1px solid #D58C51;
}

/*Стили корзины*/
.body-basket {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100vh;
	background-color: #161516;
	font-family: 'Montserrat', sans-serif;
}
.basket {
	margin-left: 15%;
	margin-right: 15%;
}
.basket__title {
	color: #FFFFFF;
	font-size: 31px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 53px;
	margin-bottom: 38px;
}
.basket__back {
	padding-bottom: 1.5rem;
}
.basket__back-a {
	text-decoration: none;
	color: #d58c51;
	font-size: 17px;
}
.basket__back-a:hover {
	color: #FFFFFF;
}
.basket__product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}
.basket__product-right {
	display: flex;
	align-items: center;
}
.basket__product-img {
	margin-right: 15px;
	width: 122px;
}
.basket__product-title {
	font-size: 20px;
	color: #FFFFFF;
	margin-right: 15px;
}
.basket__footer {
	border-top: 1px solid #D58C51;
	margin-top: auto;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
.basket__footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 15%;
	margin-right: 15%;
}
.basket__summ-text {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 21px;
}
.basket__summ {
	color: #D58C51;
	font-size: 18px;
}
.basket__button-zakaz {
	border: 0;
	width: 200px;
	height: 42px;
	background: #D58C51;
	border-radius: 2px;
	transition: .6s opacity;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;
	color: #161516;
	cursor: pointer;
}
.basket__button-zakaz:hover {
	opacity: 0.8;
}
.basket__button {
	display:inline-block;
	width:30px;
	height:30px;
	border: 1px solid #D58C51;
	border-radius: 15px;
	margin-left: 1rem;
	cursor: pointer;
}
.basket__button-close {
	background:
			linear-gradient(#D58C51,#D58C51),
			linear-gradient(#D58C51,#D58C51);
	background-position:center;
	background-size: 50% 2px,2px 50%;
	background-repeat:no-repeat;
	transform: rotate(45deg);
}
.basket__button:hover {
	border: 1px solid #FFFFFF;
}
.basket__button-close:hover {
	background: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FFFFFF, #FFFFFF);
	background-position: center;
	background-size: 50% 2px, 2px 50%;
	background-repeat: no-repeat;
}

/*Медиа-запросы*/
@media screen and (max-width: 1440px) and (min-width: 1101px) {
	.form-wrapper{
		justify-content: initial;
	}
	.form {
		margin-top: 27vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1100px) and (min-width: 951px) {
	.form-wrapper{
		justify-content: initial;
	}
	.form {
		margin-top: 20vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 950px) and (min-width: 769px) {
	.form-wrapper{
		justify-content: initial;
	}
	.form {
		margin-top: 15vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 768px) {
	.body-home {
		height: 100vh;
	}
	.form {
		margin: 4%;
		width: 95%;
		min-width: 305px;
		height: 400px;
	}
	.form__title {
		margin-top: 5%;
		margin-right: 38%;
		margin-left: 38%;
		margin-bottom: 0;
		width: 19%;
	}
	.form__input-wrapper {
		margin-left: 5%;
		margin-right: 5%;
		width: 88%;
		min-width: 268px;
	}
	.form__input-indent {
		margin-bottom: 13px;
	}
	.form__input {
		margin-top: 3px;
		width: 100%;
		height: 49px;
	}
	.form__label {
		width: 56px;
		height: 16px;
	}
	.form__button-wrapper {
		margin-top: 0;
		display: flex;
		justify-content: center;
	}
	.form__button {
		width: 180px;
		height: 52px;
		margin-top: 15px;
		margin-left: 0;
	}
	.form__checkbox-wrapper {
		margin-top: 16px;
	}
	.form__checkbox-label {
		margin: 4px 0 4px 10px;
		width: 278px;
		height: 16px;
	}
}

@media screen and (max-width: 1844px) and (min-width: 1240px) {
	.card-container {
		justify-content: start;
	}
	.body-category {
		margin-left: 7%;
	}
	.tovar {
		width: 22%;
		height: 50%;
		margin-left: 3%;
	}
	.tovar-img {
		width: 90%;
	}
	.tovar__description {
		width: 100%;
	}
	.category-header {
		padding-right: 3%;
		margin-left: 0;
	}
	.card-container .tovar:nth-child(1) {
		margin-left: 0;
		}
	.card-container .tovar:nth-child(5) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(9) {
		margin-left: 0;
	}
}

@media screen and (max-width: 1239px) and (min-width: 920px) {
	.category-header {
		margin-left: 0;
	}
	.tovar {
		width: 30%;
		height: 50%;
	}
	.card-container .tovar:nth-child(1) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(4) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(7) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(10) {
		margin-left: 0;
	}
	.tovar-img {
		width: 90%;
	}
}

@media screen and (max-width: 919px) and (min-width: 596px) {
	.tovar {
		width: 45%;
		height: 50%;
	}
	.tovar__description {
		width: 100%;
	}
	.tovar-img {
		width: 90%;
	}
	.card-container .tovar:nth-child(1) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(3) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(5) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(7) {
		margin-left: 0;
	}
	.card-container .tovar:nth-child(9) {
		margin-left: 0;
	}
	.category-header {
		margin-left: 0;
	}
}

@media screen and (max-width: 595px) and (min-width: 431px) {
	.card-container {
		justify-content: center;
	}
	.tovar {
		width: 75%;
		margin-left: 0;
	}
}

@media screen and (max-width: 430px) {
	.tovar {
		width: 100%;
		margin-left: 0;
	}
}


